node_modules/
.DS_Store
public/js/temp_db/
public/temp_db/
src/routes/temp_db/
dspasample_dump.sql
# symlinks
dspa-backend
dspa-frontend
yarn.lock
/server.log
/dynaprotdb.sql

/dspa-main-app.tar
/dynaprotdb*.sql
/dynaprotdb*.sql.gz
/.cache
/rust

