/* Reset some basic elements */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Basic styling */
body {
    display: flex;
    flex-direction: column; /* This makes child elements stack vertically */
     /* background-color: #f5f5f5; */
    justify-content: space-between;
    background-color: white;
    color: #333;
    line-height: 1.6;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
  background: #748E6C;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer {
    background: #BFBEC0;
    color: #fff;
    text-align: left;
    padding: 1rem 0;
}

h1, h2, h3 {
    margin: 20px 0;
}

h1 {
  margin: 20px 0;
  text-align: center;
  color: #748E6C;

}

p, pre {
    margin: 10px 0;
}

.sequence {
    white-space: pre-wrap; /* Allows the text to wrap */
    word-break: break-word; /* Ensures long words can be broken and wrapped */
    overflow-wrap: break-word; /* Alternative to word-break in some cases */
}


/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Navigation Bar */
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: transparent;
    color: white;
  }
  
  nav .logo, nav .menu-item {
    text-decoration: none;
    color: white;
  }
  
  /* Search Bar */
  .search-container {
    background-image: url('../images/Screenshot\ 2024-04-10\ at\ 00.58.06.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-bar {
    width: 50%; /* 50% of its container width */
    height: 3rem; /* Adjust as needed */
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 25px; /* Rounded corners */
    background-color: transparent;
    color: #748E6C;
    margin-bottom: 20px;
  }
  
  .search-bar:focus {
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    right: 10%; /* Adjusted for smaller screens */
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Headline */
  .headline {
    text-align: center;
    margin-top: -10vh; /* Position above the search bar */
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  /* Tagline */
  .tagline {
    text-align: center;
    font-size: 1.2rem;
  }
  
  /* Basic button styling */
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 25px;
    background: transparent;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: white;
    color: #121212;
  }
  
  @media (max-width: 768px) {
    .container {
        width: 90%;
    }

    nav {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }

    .search-container {
        width: 90%;
        padding: 20px;
    }

    .search-bar {
        width: 80%;
    }

    .headline {
        font-size: 2rem;
        margin-top: 0; /* Adjust margin */
    }

    .tagline {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .search-container {
        padding: 10px;
    }

    .search-bar {
        width: 100%;
    }

    .headline {
        font-size: 1.5rem;
    }

    .tagline {
        font-size: 0.9rem;
    }
}


input[type="text"], select {
    width: 80%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 18px;
    box-sizing: border-box;
}

input[type="submit"], button {
  width: 50%;
  background-color: #748E6C;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto; /* Center the button */
}

input[type="submit"]:hover, button:hover {
  background-color: #748E6C;
}

.protein-info-container {
  width: 80%;
  margin: 0 auto; /* This centers the div */
  padding: 20px; /* Adds some padding inside the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  background-color: #fff; /* Sets a white background */
  border-radius: 8px; /* Optional: Rounds the corners */
}

/* Plot styling */
.plot-container {
  text-align: center;
  margin: 20px 0; /* Add margin to plots */
  overflow: auto;
}

.plot-container svg {
  max-width: 100%;
  height: auto;
  display: block;
}


svg {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: visible;
}


.info-button {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
}

.info-button .tooltip {
  bottom: 100%; /* Adjust if necessary */
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Positioning */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Centers the tooltip */
  /* Hide the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.info-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}