extends layout

block content
    h1 Welcome to the DSPA Atlas
    //- Example home.pug form
    .search-container
        form(action="/search" method="get")
            //- Input for taxonomyID (using dropdown or radio buttons)
            select(name="taxonomyID")
                option(value="10090") Mus musculus
                option(value="559292" selected) Saccharomyces cerevisiae S288C
                option(value="9606") Homo Sapiens
            //- Input for proteinName
            input(type="text" name="proteinName" required placeholder="Enter protein name...")
            //- Submission button
            button(type="submit") Search