doctype html 
html    
    head
        title DSPA atlas 
        link(rel='stylesheet', href='/css/style.css')
    body
        .main-container
        block content 
        br
        hr
        footer  
            p Copyright